<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IndexPulse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1>Index</h1>
<div th:if="${session.id == null or #strings.length(session.id) == 0}">
    <!--If id session variable doesn't exist yet or is empty, print div.-->
    <p><a href="register.html">Register</a></p>
    <p><a href="login.html">Login</a></p>
</div>
<div th:if="${session.id != null and #strings.length(session.id) > 0}">
    <!--If id session variable already exists and isn't empty, print div.-->
    <p><a href="/user_accounts/logout">Logout</a></p>
    <p><a href="/user_accounts/edit">Change personal data</a></p>
    <p><a href="/user_accounts/delete">Delete account</a></p>
    <p><a href="/index_requests/list">List requests</a></p>
</div>
<p th:text="${session.id}"></p>
</body>
</html>