<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IndexPulse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1>Index</h1>
<div th:if="${session.id == null or #strings.length(session.id) == 0}">
    <!--If id session variable doesn't exist yet or is empty, print div.-->
    <!--
    It's really important to type "/static.html" and not "static.html".
    Without a slash we would be using a relative path from the last request,
    and we could get 404 error.
    -->
    <p><a href="/register.html">Register</a></p>
    <p><a href="/login.html">Login</a></p>
</div>
<div th:if="${session.id != null and #strings.length(session.id) > 0}">
    <!--If id session variable already exists and isn't empty, print div.-->
    <p><a href="/index_requests/list">List requests</a></p>
    <p><a href="/addJSON.html">Add a JSON file</a></p>
    <p><a href="/user_accounts/logout">Logout</a></p>
    <p><a href="/user_accounts/edit">Edit personal data</a></p>
    <p><a href="/delete.html">Delete account</a></p>
</div>
<p th:text="${session.id}"></p>
</body>
</html>