<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IndexPulse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1>Requests</h1>
<div th:if="${info != null}">
    <p th:text="${info}"></p>
</div>
<div th:if="${info == null}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requests}">
            <td th:text="${request.id}"></td>
            <td th:text="${request.url}"></td>
            <td th:text="${request.status}"></td>
            <td><a th:href="@{'/index_requests/delete/' + ${request.id}}">Delete</a></td><!--https://stackoverflow.com/questions/33753975/thymeleaf-using-path-variables-to-thhref-->
        </tr>
        </tbody>
    </table>
</div>
<p><a href="/addRequest.html">Add request</a></p><!--Always use slash, even for static content.-->
<p><a href="/index">Index</a></p>
</body>
</html>